$background-color: #FFFBF4;
$background-color-light: #FFFDF8;
$key-color: #F4EBDA;
$button-color: #B0BC97;
$button-disabled: #C6CBBA;
$button-text-disabled: #F2F2F2;
$text-color: #564438;

$success: rgba(95, 176, 95);
$warning: rgb(254, 115, 115);

$success-opacity: rgba(95, 176, 95, 0.7);
$warning-opacity: rgb(254, 115, 115, 0.7);