@import "style.scss";

body {
    background-color: $background-color;
    height: 100%;
    cursor: default;
}

button {
    cursor: pointer;
}

.submit-wrapper {
    width: 100%;
    @include flexbox(row, center, center);
}

button.submit {
    background-color: $button-color;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;

    &:disabled {
        background-color: $button-disabled;
        color: $button-text-disabled;
        cursor: default;
    }
}

