@import "style.scss";

.main {
    min-height: 90vh;
    @include flexbox(column, space-evenly, center);
}

.h1 {
    text-align: center;
    color: $text-color;
}

.word {
    width: fit-content;
}

.feedback {
    display: none;
    margin-bottom: 10px;
    font-weight: 300;

    &.correct, &.incorrect {
        display: block;
    }

    &.correct {
        color: $success;
    }

    &.incorrect {
        color: $warning;
    }
}

.submit-wrapper {
    margin-top: 40px;
}