@import "./mixins";
@import "./variables";

.row {
    @include flexbox(row, center, center);
    margin: 10px 0;
}

.key {
    @include heightWidth (50px, 50px, 0);
    background-color: $key-color;
    @include flexbox(row, center, center);

    &.incorrect {
        background-color: rgba(255, 138, 138, 0.7);
    }

    &.correct {
        background-color: rgba(95, 176, 95, 0.7);
    }
}

.key-wrapper {
    padding: 0;
    background-color: 0;
    border: 1px solid $key-color;
}

.selected {
    border: 1px solid black;
}

.word {
    @include flexbox(row, center, center);
}

.letter {
    padding: 5px;
    margin: 5px;
    background-color: beige;
}

.hidden {
    color: transparent;
}
