@import "style.scss";

.game-wrapper {
    width: fit-content;
    margin: 0 auto;
}

.row {
    @include flexbox(row, center, center);
    margin: 10px 0;
}

.key {
    @include heightWidth (60px, 60px, 0);
    background-color: $key-color;
    @include flexbox(row, center, center);
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 10px;
    color: $text-color;

    &.incorrect {
        background-color: $warning-opacity;
    }

    &.correct {
        background-color: $success-opacity;
    }
}

.key-wrapper {
    padding: 0;
    background-color: transparent;
    border: 1px solid $key-color;
    margin: 8px;
    border-radius: 10px;

}

.selected {
    border: 1px solid $text-color;
}

button.submit {
    margin-top: 30px;
}